.filetree .status-icon.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.filetree .status-icon {
    color: #8DCA57;
    margin: 0 4px;
}
.filetree .status-icon-conflict {
    color: #E466C7;
}

.filetree .heading .status-icon {
    display: none;
}

.difftoolbar{
    height: 40px;
    padding: 3px 5px 5px;
}

.difftoolbar .hash{
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    background-color: yellow;
    padding: 3px 4px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #DED228;
    margin-right: 3px;
}
.difftoolbar .dirname{
    color: #BBBBBB;
}
    