.filetree .status-icon.clickable {
    pointer-events: auto;
    cursor: pointer;
}

.filetree .status-icon {
    color: #8DCA57;
    margin: 0 4px;
}
.filetree .status-icon-conflict {
    color: #E466C7;
}

.filetree .heading .status-icon {
    display: none;
}


.filetree .tree-row.merge {
    color: lightgray
}
.tree-row {
    white-space: nowrap;
}
.branch {
    color: black;
    border-radius: 5px;
    background: rgb(249, 247, 150);
    border: 1px solid #DDDE33;
    padding: 0 4px !important;
    margin-right: 2px;
}


.difftoolbar{
    border-bottom: 1px solid @border-highlight-dark;
}

.difftoolbar .buttons{
    background-color: #F9F9F9;
    border-radius: 5px;
    /*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);*/
    border: 1px solid @border-highlight-dark;
}

.difftoolbar .hash{
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    padding: 4px 4px 3px;
    display: inline-block;
    border-radius: 4px;
    /*background-color: yellow;*/
    /*border: 1px solid #DED228;*/
    background: rgb(249, 247, 150);
    border: 1px solid #DDDE33;
    margin-right: 7px;
    font-size: 12px;
}
.difftoolbar .right .hash{
    position: absolute;
    right: 5px;
    top: 5px;
    margin-right: 0;
}

.difftoolbar .dirname{
    color: #BBBBBB;
}

.detail-label{
    padding: 6px 40px 7px 5px;
    font-size: 12px;
    background-color: @detail-label-background;
    border-bottom: @detail-label-border-bottom;
    box-shadow: 0 1px 0 @detail-label-box-shadow;
}

.detail-label .hash{
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    padding: 2px 4px 1px;
    display: inline-block;
    border-radius: 4px;
    background: @detail-label-hash-background;
    border: @detail-label-hash-border;
    color: @detail-label-hash-color;
    margin-right: 6px;
    font-size: 12px;
    float: left;
}

.detail-label div{
    margin: @detail-label-margin;
    line-height: 1.5em;
    color: @detail-label-color;
}

.detail-tree{
    flex: 1;
    position: relative;
}

.detail-root{
    display: flex;
    flex-direction: column;
}

.form-bar{
    padding: 10px 50px 10px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #E6E6E6;
    margin: 0px;
    background-color: white; /*#FBFBFB;*/
}

.changes>.c9-menu-btnDown, .changes>.splitbutton div.c9-menu-btnDown:first-child{
    height: 31px;
    box-shadow: -1px 1px white !important;
}
.changes .splitbutton>div.c9-menu-btnDown:first-child:after{
    top: 0;
    bottom: 0;
}

.top-test-panel{
    border-bottom: 1px solid rgb(0,0,0);
    box-shadow: 0 1px @border-highlight;
    overflow: auto;
}